@charset "utf-8";

@font-face {
    font-family: 'PfDinTextCondPro-Bold';
    src: url('../fonts/pfdintextcondpro-bold-webfont.eot');
    src: url('../fonts/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PfDinTextCondPro-Light';
    src: url('../fonts/pfdintextcondpro-light-webfont.eot');
    src: url('../fonts/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-light-webfont.svg#pf_din_text_cond_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PfDinTextCondPro-Medium';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PfDinTextCondPro-Regular';
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PfDinTextCondPro-Thin';
    src: url('../fonts/pfdintextcondpro-thin-webfont.eot');
    src: url('../fonts/pfdintextcondpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-thin-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-thin-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-thin-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-thin-webfont.svg#pf_din_text_cond_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #ffffff;
	background-color: #000000;
	font-family: 'PfDinTextCondPro-Regular';
	padding-top: 96px;
}
body.active {
	height: 100vh !important;
	box-sizing: border-box;
	overflow: hidden !important;
}
a{
	text-decoration: none;
	color: #ffffff;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border-color: #ff0000 !important;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	max-width: 1170px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 10px;
	top: calc(50% - 11px);
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #ffffff;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
	left: 10px;
	top: 10px;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	height: 100vh;
	overflow-y: auto;
	position: fixed;
	z-index: 200;
	width: 100%;
	left: 0;
	top: -200%;
	background-color: #000000;
	box-sizing: border-box;
	padding: 30px 10px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-menu.active {
	top: 0;
}

.header {
	display: block;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 100;
	background-color: #000000;
}
.header.active {
	position: fixed;
}
.header .b-block {
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 230px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.header.active .b-block {
	padding-bottom: 15px;
}
.header-logo {
	display: block;
	position: absolute;
	left: 15px;
	top: 0;
	width: 205px;
	height: 100%;
	background-image: url('../i/fon-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.header-logo a {
	display: block;
	max-width: 155px;
	max-height: 100%;
	position: absolute;
	left: 16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.header-logo a img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.header-nav {
	display: inline-block;
	vertical-align: bottom;
	width: calc(100% - 200px);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.header.active .header-nav {
	vertical-align: middle;
}
.header-nav .nav-list-1 {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
	padding-bottom: 7px;
	overflow: hidden;
	max-height: 100px;
	border-bottom: 1px solid rgb(151, 151, 151);
	opacity: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.header.active .header-nav .nav-list-1 {
	padding: 0;
	max-height: 0;
	border: 0;
	opacity: 0;
}
.header-nav .nav-list-1 li {
	display: block;
	box-sizing: border-box;
	padding: 0 10px;
}
.header-nav .nav-list-1 li:first-child {
	padding-left: 0;
}
.header-nav .nav-list-1 li:last-child {
	padding-right: 0;
}
.header-nav .nav-list-1 li a {
	font-size: 14px;
	color: rgb(162, 162, 162);
	font-family: 'PfDinTextCondPro-Light';
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav .nav-list-1 li a:hover {
	color: #ffffff;
}
.header-nav .nav-list-2 {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.header.active .header-nav .nav-list-2 {
	padding: 0;
}
.header-nav .nav-list-2 li {
	display: block;
	box-sizing: border-box;
	padding: 0 5px;
	position: relative;
}
.header-nav .nav-list-2 li:first-child {
	padding-left: 0;
}
.header-nav .nav-list-2 li:last-child {
	padding-right: 0;
}
.header-nav .nav-list-2 li a {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'PfDinTextCondPro-Bold';
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav .nav-list-2 li a:hover {
	color: #ffc525;
}
.header-address {
	display: inline-block;
	vertical-align: bottom;
	width: 195px;
	text-align: right;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.header.active .header-address {
	vertical-align: middle;
}
.header-address a {
	display: inline-block;
	font-family: 'PfDinTextCondPro-Bold';
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 5px;
}
.header-address p {
	display: block;
	font-size: 16px;
	color: #dcdcdc;
	line-height: 1.2;
}
.header-nav .nav-list-2 li:hover .drop-triangle {
	display: block;
}
.header .drop-list {
	padding-top: 10px;
	box-sizing: border-box;
	height: calc(100vh - 71px);
	position: fixed;
	left: 50%;
	width: 1140px;
	display: block;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.header .drop-triangle {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 10px;
}
.header .drop-triangle.active {
	display: none !important;
}
.header .drop-triangle::before {
	content: '';
	display: block;
	border-bottom: 10px solid #ffffff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: calc(50% - 10px);
}
.header .drop-wrap {
	padding: 30px 30px 10px;
	background-color: #ffffff;
	height: 100%;
	box-sizing: border-box;
	position: relative;
}
.header .drop-close {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 30px;
	right: 30px;
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header .drop-close:hover {
	opacity: 1;
	cursor: pointer;
}
.header .drop-close::before {
	content: '';
	display: block;
	background-color: #000000;
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	top: calc(50% - 2px);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.header .drop-close::after {
	content: '';
	display: block;
	background-color: #000000;
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	top: calc(50% - 2px);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.header .drop-name {
	position: relative;
	font-size: 24px;
	font-family: 'PfDinTextCondPro-Medium';
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 22px;
	margin-bottom: 30px;
}
.header .drop-name::before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: -webkit-linear-gradient(0deg, transparent 0%, transparent 20%, #000000 45%, #000000 55%, transparent 80%, transparent 100%);
	background-image: -moz-linear-gradient(0deg, transparent 0%, transparent 20%, #000000 45%, #000000 55%, transparent 80%, transparent 100%);
	background-image: -ms-linear-gradient(0deg, transparent 0%, transparent 20%, #000000 45%, #000000 55%, transparent 80%, transparent 100%);
}
.header .drop-name span {
	color: #ffc525;
}
.header .drop-items {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: calc(100% - 82px);
	overflow-y: auto;
}
.header .drop-item {
	padding: 0 10px;
	box-sizing: border-box;
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.header .drop-item .item-image {
	position: relative;
	height: 220px;
	width: 100%;
	margin-bottom: 10px;
}
.header .drop-item .item-image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.header .drop-item .item-name {
	font-family: 'PfDinTextCondPro-Medium';
	font-size: 18px;
	color: rgb(16, 0, 41);
	text-transform: uppercase;
	margin-bottom: 15px;
}
.header .drop-item .item-btn {
	display: inline-block;
	padding: 15px 50px;
	font-family: 'PfDinTextCondPro-Medium';
	color: #ffffff;
	background-color: rgb(228, 177, 2);
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.header .drop-item .item-btn::before {
	content: '';
	display: block;
	width: 9px;
	height: 16px;
	position: absolute;
	top: calc(50% - 8px);
	right: 22px;
	background-image: url('../i/more-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.header .drop-item .item-btn:hover {
	background-color: rgb(197, 153, 0);
	color: #ffffff;
}
.header .drop-item .item-mobile {
	display: none;
}

.footer {
	background-color: rgb(55, 56, 58);
}
.footer .b-block {
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer-logo {
	display: inline-block;
	vertical-align: top;
	width: 190px;
	box-sizing: border-box;
	padding-right: 30px;
}
.footer-logo .max-logo {
	display: block;
	width: 155px;
	margin-bottom: 15px;
}
.footer-logo .brp-logo {
	display: block;
	width: 92px;
}
.footer-logo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.footer .nav-wrap {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: calc(((100% - 194px)/3) - 54px);
	text-align: left;
	padding: 0 10px;
}
.footer .nav-wrap.big {
	width: calc(((100% - 194px)/3) + 46px);
}
.footer .nav-wrap a, .footer .nav-wrap span {
	display: inline-block;
	font-size: 20px;
	font-family: 'PfDinTextCondPro-Bold';
	text-transform: uppercase;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer .nav-wrap a:hover {
	color: #ffc525;
}
.footer .nav-list {
	margin-top: 10px;
}
.footer .nav-list li {
	display: block;
	width: 50%;
	float: left;
	margin-bottom: 10px;
}
.footer .nav-list li a {
	display: inline-block;
	font-family: 'PfDinTextCondPro-Medium';
	font-size: 16px;
	color: #b7b7b7;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer .nav-list li a:hover {
	color: #ffffff;
}
.footer-bot {
	padding-top: 35px;
}
.footer-bot p {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding-right: 60px;
	width: calc(((100% - 142px)/2) + 96px);
	text-align: left;
	font-family: 'PfDinTextCondPro-Light';
	line-height: 1;
	color: rgb(183, 183, 183);
	font-size: 14px;
}
.footer-info {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding-right: 30px;
	width: calc(((100% - 142px)/2) - 104px);
	text-align: left;
}
.footer-info span {
	display: block;
	font-size: 14px;
	font-family: 'PfDinTextCondPro-Light';
	line-height: 1;
	color: rgb(183, 183, 183);
	margin-bottom: 10px;
}
.footer-info ul li, .footer-info ul li a {
	font-family: 'PfDinTextCondPro-Light';
	line-height: 1;
	color: rgb(183, 183, 183);
	font-size: 14px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-info ul li a:hover {
	color: #ffffff;
}
.logo-atk {
	display: inline-block;
	vertical-align: bottom;
	width: 138px;
}
.logo-atk img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.popup {
	padding: 30px 20px;
	max-width: 450px;
	width: 95%;
	background-color: #ffffff;
	box-sizing: border-box;
	text-align: center;
}
.popup h2 {
	display: block;
	font-size: 24px;
	font-family: 'PfDinTextCondPro-Medium';
	color: #000000;
	margin: 0 auto 35px;
	max-width: 410px;
	line-height: 1.2;
	text-transform: uppercase;
}
.popup h2 span {
	color: #e4b102;
}
.popup-p {
	display: block;
	max-width: 410px;
	margin: 0 auto 35px;
	color: #000000;
	font-size: 14px;
	line-height: 1.2;
}
.popup form {
	display: block;
	max-width: 350px;
	margin: 0 auto;
}
.popup input {
	display: block;
	box-sizing: border-box;
	font-family: 'PfDinTextCondPro-Light';
	color: #000000;
	padding: 15px 20px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 20px;
	border: 1px solid rgb(142, 142, 142);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup input::-webkit-input-placeholder {color:rgb(180, 180, 180);}
.popup input::-moz-placeholder          {color:rgb(180, 180, 180);}
.popup input:-moz-placeholder           {color:rgb(180, 180, 180);}
.popup input:-ms-input-placeholder      {color:rgb(180, 180, 180);}
.popup input:focus::-webkit-input-placeholder {color:transparent;}
.popup input:focus::-moz-placeholder          {color:transparent;}
.popup input:focus:-moz-placeholder           {color:transparent;}
.popup input:focus:-ms-input-placeholder      {color:transparent;}
.popup input:focus, .popup input:hover {
	border-color: #000000;
}
.popup .input-wrap input {
	display: none;
}
.popup .file-input {
	display: block;
	box-sizing: border-box;
	font-family: 'PfDinTextCondPro-Light';
	color:rgb(180, 180, 180);
	position: relative;
	padding: 15px 20px;
	padding-right: 50px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 20px;
	border: 1px solid rgb(142, 142, 142);
	text-align: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup .file-input::before {
	content: '';
	display: block;
	width: 16px;
	height: 22px;
	position: absolute;
	top: calc(50% - 11px);
	right: 20px;
	background-image: url('../i/file-input-icon.png');
}
.popup .file-input.active {
	color: #000000;
}
.popup .file-input:hover {
	cursor: pointer;
	border-color: #000000;
}
.popup textarea {
	display: block;
	box-sizing: border-box;
	font-family: 'PfDinTextCondPro-Light';
	color: #000000;
	padding: 15px 20px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 20px;
	border: 1px solid rgb(142, 142, 142);
	resize: none;
	height: 85px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup textarea::-webkit-input-placeholder {color:rgb(180, 180, 180);}
.popup textarea::-moz-placeholder          {color:rgb(180, 180, 180);}
.popup textarea:-moz-placeholder           {color:rgb(180, 180, 180);}
.popup textarea:-ms-input-placeholder      {color:rgb(180, 180, 180);}
.popup textarea:focus::-webkit-input-placeholder {color:transparent;}
.popup textarea:focus::-moz-placeholder          {color:transparent;}
.popup textarea:focus:-moz-placeholder           {color:transparent;}
.popup textarea:focus:-ms-input-placeholder      {color:transparent;}
.popup textarea:focus, .popup textarea:hover {
	border-color: #000000;
}
.popup-btn {
	display: block;
	padding: 15px;
	background-color: rgb(228, 177, 2);
	width: 100%;
	margin: 0 auto 20px;
	box-sizing: border-box;
	text-transform: uppercase;
	border: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.popup-btn span {
	display: inline-block;
	padding-right: 18px;
	position: relative;
	font-size: 18px;
	font-family: 'PfDinTextCondPro-Medium';
	color: #ffffff;
}
.popup-btn span::before {
	content: '';
	display: block;
	width: 9px;
	height: 16px;
	position: absolute;
	top: calc(50% - 8px);
	right: 0;
	background-image: url('../i/more-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.popup-btn:hover {
	cursor: pointer;
	background-color: rgb(197, 153, 0);
}
.popup .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 14px;
	color: #000000;
	line-height: 1;
	position: relative;
	text-align: left;
	padding-left: 35px;
	font-family: 'PfDinTextCondPro-Light';
}
.popup .button-text a {
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup .button-text a:hover {
	color: rgb(228, 177, 2);
}
.popup .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid rgb(142, 142, 142);
	left: 0;
	top: 2px;
}
.popup .button-text .radio-btn.error {
	border-color: #ff0000;
}
.popup .button-text .radio-btn:hover {
	cursor: pointer;
}
.popup .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 7px;
	height: 2px;
	position: absolute;
	left: 1px;
	top: 8px;
	background-color: rgb(142, 142, 142);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	left: 5px;
	top: 7px;
	background-color: rgb(142, 142, 142);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.fancybox-slide--html .fancybox-close-small {
	color: #000000;
	padding: 0;
	width: 30px;
	height: 30px;
	opacity: 0.4;
}
.fancybox-slide--html .fancybox-close-small:hover {
	opacity: 1;
}
.fancybox-can-swipe .fancybox-content, .fancybox-can-pan .fancybox-content {
	cursor: default;
}







@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	.b-block {
		max-width: 760px;
	}
	.header-logo {
		width: 110px;
	}
	.header .b-block {
		padding-left: 130px;
	}
	.header-logo a {
		left: 5px;
		max-width: 80%;
	}
	.header-nav {
		width: calc(100% - 114px);
	}
	.header-nav .nav-list-1 li {
		padding: 0 5px;
	}
	.header-nav .nav-list-1 li a {
		font-size: 13px;
	}
	.header-nav .nav-list-2 li {
		padding: 0;
	}
	.header-nav .nav-list-2 li a {
		font-size: 11px;
	}
	.header-address {
		width: 110px;
	}
	.header-address a {
		font-size: 14px;
	}
	.header-address p {
		font-size: 10px;
	}
	.header .drop-list {
		width: 730px;
	}
	.footer-logo {
		padding-right: 0;
	}
	.footer-logo .max-logo {
		margin: 0 auto 15px;
	}
	.footer-logo .brp-logo {
		margin: 0 auto;
	}
	.footer .nav-wrap {
		display: block;
		margin-top: 20px;
		width: 100% !important;
		text-align: center;
	}
	.footer-bot p, .footer-info {
		display: block;
		padding-right: 0;
		width: 100%;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 767px){
	body {
		padding-top: 68px;
	}
	.b-block {
		padding: 0;
	}
	.header {
		position: fixed;
	}
	.header .b-block {
		padding-left: 0;
	}
	.header-logo, .header-nav {
		display: none;
	}
	.header .b-block {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.header-address {
		box-sizing: border-box;
		width: 100%;
		padding: 0 10px;
	}
	.header-address a {
		font-size: 20px;
	}
	.header-address p {
		font-size: 16px;
	}
	.mobile-btn, .mobile-menu, .close-btn {
		display: block;
	}
	.mobile-logo {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 40px;
	}
	.mobile-nav-list-1 {
		margin-bottom: 40px;
	}
	.mobile-nav-list-1 li {
		margin-bottom: 20px;
	}
	.mobile-nav-list-1 li a {
		font-size: 14px;
		color: #ffffff;
		text-transform: uppercase;
		font-family: 'PfDinTextCondPro-Bold';
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}
	.mobile-nav-list-1 .sublist-item {
		padding-top: 10px;
	}
	.mobile-nav-list-1 .sublist-item a {
		font-size: 12px;
		text-transform: none;
	}
	.mobile-nav-list-1 li a:hover {
		color: #ffc525;
	}
	.mobile-nav-list-2 li {
		margin-bottom: 20px;
	}
	.mobile-nav-list-2 li a {
		font-size: 14px;
		color: rgb(162, 162, 162);
		font-family: 'PfDinTextCondPro-Light';
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}
	.mobile-nav-list-2 li a:hover {
		color: #ffffff;
	}
	.footer-bot p, .footer-info {
		padding: 0 10px;
	}
}