.b-1-wrap {
	padding-top: 70px;
	padding-bottom: 40px;
	background-image: url('../i/fon-service.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.b-1-logo {
	display: inline-block;
	margin-bottom: 30px;
	max-width: 100%;
}
.b-1-logo img {
	display: block;
	max-width: 100%;
}
.b-1 h1 {
	display: block;
	text-transform: uppercase;
	font-family: 'PfDinTextCondPro-Medium';
	font-size: 48px;
	line-height: 1.2;
}
.b-1 h2 {
	display: block;
	text-transform: uppercase;
	font-family: 'PfDinTextCondPro-Regular';
	font-size: 24px;
	line-height: 1.2;
	max-width: 900px;
	margin: 0 auto 30px;
}
.b-1 .place {
	display: block;
	position: absolute;
	left: 10px;
	top: 25px;
}
.b-1 .place span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: 14px;
	padding-right: 12px;
	margin-right: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 .place span:hover {
	color: rgb(162, 162, 162);
}
.b-1 .place span:last-child {
	margin-right: auto;
	padding-right: 0;
}
.b-1 .place span::after {
	content: '';
	display: block;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 50%;
	background-color: rgb(176, 176, 176);
}
.b-1 .place span:last-child:after {
	display: none;
}
.b-1-btn {
	display: block;
	padding: 15px;
	background-color: rgb(228, 177, 2);
	width: 100%;
	max-width: 220px;
	margin: 0 auto 20px;
	box-sizing: border-box;
	text-transform: uppercase;
	border: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.b-1-btn span {
	display: inline-block;
	padding-right: 18px;
	position: relative;
	font-size: 18px;
	font-family: 'PfDinTextCondPro-Medium';
	color: #ffffff;
}
.b-1-btn span::before {
	content: '';
	display: block;
	width: 9px;
	height: 16px;
	position: absolute;
	top: calc(50% - 8px);
	right: 0;
	background-image: url('../i/more-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.b-1-btn:hover {
	cursor: pointer;
	background-color: rgb(197, 153, 0);
}

.b-2-wrap {
	box-sizing: border-box;
	padding: 60px 10px;
	background-color: #f0f0f0;
}
.b-2-list {
	margin-bottom: 20px;
}
.b-2-list li {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	margin-bottom: 40px;
	box-sizing: border-box;
	width: calc(50% - 4px);
	text-align: left;
}
.b-2-list li img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	margin-right: 20px;
}
.b-2-list li p {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	color: #363636;
}
.b-2-list li p span {
	font-family: 'PfDinTextCondPro-Medium';
	color: rgb(228, 177, 2);
}
.b-2 h2 {
	display: block;
	text-transform: uppercase;
	text-align: left;
	font-size: 36px;
	font-family: 'PfDinTextCondPro-Medium';
	color: #000000;
	margin-bottom: 45px;
}
.b-2 h2 span {
	color: rgb(228, 177, 2);
}
.b-2-text {
	display: block;
	text-align: left;
	color: #000000;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 20px;
}
.b-2 .text-list {
	margin: 0 auto;
	max-width: 950px;
}
.b-2 .text-list li {
	display: block;
	margin-bottom: 10px;
	position: relative;
	padding-left: 13px;
	text-align: left;
	color: #000000;
	font-size: 18px;
	line-height: 1.2;
}
.b-2 .text-list li::before {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	position: absolute;
	left: 0;
	top: calc(50% - 2px);
	background-color: rgb(228, 177, 2);
}

.b-3 .b-block {
	padding-top: 60px;
	padding-bottom: 30px;
}
.b-3 h2 {
	display: block;
	text-align: left;
	font-size: 48px;
	font-family: 'PfDinTextCondPro-Medium';
	text-transform: uppercase;
	margin-bottom: 30px;
}
.b-3 h2 span {
	color: #e4b102;
}
.b-3-list li {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 4px);
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 20px;
}
.b-3-list .li-image {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 40px;
}
.b-3-list .li-image a {
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.b-3-list .li-image a::before {
	content: '';
	position: absolute;
	display: block;
	opacity: 0.2;
	background-color: #362f32;
	top: 0;
	left: -40%;
	width: 0;
	height: 100%;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	-webkit-transform: skew(-20deg,0);
	-moz-transform: skew(-20deg,0);
	-ms-transform: skew(-20deg,0);
	transform: skew(-20deg,0);
}
.b-3-list .li-image a:hover:before {
	width: 180%;
}
.b-3-list .li-image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.b-3-list .li-text {
	display: block;
	box-sizing: border-box;
	width: 100%;
}
.b-3-list .li-date {
	display: block;
	line-height: 1;
	text-align: left;
	font-size: 14px;
	margin-bottom: 20px;
}
.b-3-list .li-title {
	display: block;
	text-align: left;
	line-height: 1;
	font-size: 24px;
	font-family: 'PfDinTextCondPro-Bold';
	margin-bottom: 20px;
	text-transform: uppercase;
}
.b-3-list .li-title a {
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3-list .li-title a:hover {
	color: rgb(228, 177, 2);
}
.b-3-list p {
	display: block;
	text-align: left;
	line-height: 1.2;
	font-size: 18px;
}

.b-4-wrap {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #ffffff;
}
.b-4 h2 {
	display: block;
	font-size: 24px;
	font-family: 'PfDinTextCondPro-Medium';
	color: #000000;
	margin: 0 auto 35px;
	max-width: 410px;
	line-height: 1.2;
}
.b-4 h2 span {
	color: #e4b102;
}
.b-4-p {
	display: block;
	max-width: 410px;
	margin: 0 auto 35px;
	color: #000000;
	font-size: 14px;
	line-height: 1.2;
}
.b-4 form {
	display: block;
	max-width: 350px;
	margin: 0 auto;
}
.b-4 input {
	display: block;
	box-sizing: border-box;
	font-family: 'PfDinTextCondPro-Light';
	color: #000000;
	padding: 15px 20px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 20px;
	border: 1px solid rgb(142, 142, 142);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4 input::-webkit-input-placeholder {color:rgb(180, 180, 180);}
.b-4 input::-moz-placeholder          {color:rgb(180, 180, 180);}
.b-4 input:-moz-placeholder           {color:rgb(180, 180, 180);}
.b-4 input:-ms-input-placeholder      {color:rgb(180, 180, 180);}
.b-4 input:focus::-webkit-input-placeholder {color:transparent;}
.b-4 input:focus::-moz-placeholder          {color:transparent;}
.b-4 input:focus:-moz-placeholder           {color:transparent;}
.b-4 input:focus:-ms-input-placeholder      {color:transparent;}
.b-4 input:focus, .b-4 input:hover {
	border-color: #000000;
}
.b-4 textarea {
	display: block;
	box-sizing: border-box;
	font-family: 'PfDinTextCondPro-Light';
	color: #000000;
	padding: 15px 20px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 20px;
	border: 1px solid rgb(142, 142, 142);
	resize: none;
	height: 85px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4 textarea::-webkit-input-placeholder {color:rgb(180, 180, 180);}
.b-4 textarea::-moz-placeholder          {color:rgb(180, 180, 180);}
.b-4 textarea:-moz-placeholder           {color:rgb(180, 180, 180);}
.b-4 textarea:-ms-input-placeholder      {color:rgb(180, 180, 180);}
.b-4 textarea:focus::-webkit-input-placeholder {color:transparent;}
.b-4 textarea:focus::-moz-placeholder          {color:transparent;}
.b-4 textarea:focus:-moz-placeholder           {color:transparent;}
.b-4 textarea:focus:-ms-input-placeholder      {color:transparent;}
.b-4 textarea:focus, .b-4 textarea:hover {
	border-color: #000000;
}
.b-4-btn {
	display: block;
	padding: 15px;
	background-color: rgb(228, 177, 2);
	width: 100%;
	margin: 0 auto 20px;
	box-sizing: border-box;
	text-transform: uppercase;
	border: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.b-4-btn span {
	display: inline-block;
	padding-right: 18px;
	position: relative;
	font-size: 18px;
	font-family: 'PfDinTextCondPro-Medium';
	color: #ffffff;
}
.b-4-btn span::before {
	content: '';
	display: block;
	width: 9px;
	height: 16px;
	position: absolute;
	top: calc(50% - 8px);
	right: 0;
	background-image: url('../i/more-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.b-4-btn:hover {
	cursor: pointer;
	background-color: rgb(197, 153, 0);
}
.b-4 .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 14px;
	color: #000000;
	line-height: 1;
	position: relative;
	text-align: left;
	padding-left: 35px;
	font-family: 'PfDinTextCondPro-Light';
}
.b-4 .button-text a {
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4 .button-text a:hover {
	color: rgb(228, 177, 2);
}
.b-4 .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid rgb(142, 142, 142);
	left: 0;
	top: 2px;
}
.b-4 .button-text .radio-btn.error {
	border-color: #ff0000;
}
.b-4 .button-text .radio-btn:hover {
	cursor: pointer;
}
.b-4 .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 7px;
	height: 2px;
	position: absolute;
	left: 1px;
	top: 8px;
	background-color: rgb(142, 142, 142);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.b-4 .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	left: 5px;
	top: 7px;
	background-color: rgb(142, 142, 142);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}





@media screen and (max-width: 767px) {
	.b-2-list li {
		display: block;
		width: 100%;
	}
	.b-3-list li {
		display: block;
		width: 100%;
		margin-bottom: 40px;
	}
}